<aside class="aside-menu">
    <a href="" class="logo"><img src="images/logo.svg" alt=""></a>
    <button type="button" class="btn__burger">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <ul class="social__list">
        <li class="social__item">
            <a href="" class="social__link">
                <span class="icon icon-inst"></span>
            </a>
        </li>
        <li class="social__item">
            <a href="" class="social__link">
                <span class="icon icon-telegram"></span>
            </a>
        </li>
        <li class="social__item">
            <a href="" class="social__link">
                <span class="icon icon-facebook"></span>
            </a>
        </li>
    </ul>
</aside>