.projects-slider {
  &__section {
    position: relative;
    margin-bottom: 100px;
    counter-reset: item;
    list-style-type: none;
    .slider-nav {
      padding: 0 40px;
      position: absolute;
      width: 67%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      .slick-arrow {
        background-color: transparent;
        padding: 0;
        display: inline-block;
        border: none;
        transition: 0.3s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
      }
      @include r(1500) {
        width: 59%;
      }
      @include r(1000) {
        width: 100%;
        bottom: 225px;
        top: auto;
        padding: 0 20px;
      }
      @include r(767) {
        bottom: 90px;
      }
    }
    @include r(1500) {
      margin-bottom: 40px;
    }
    @include r(767) {
      margin-bottom: 103px;
    }
  }
}
.project-slider {
  &__item {
    display: flex!important;
    flex-wrap: wrap;
    &:before {
      content: counter(item, decimal-leading-zero) " ";
      counter-increment: item;
      position: absolute;
      z-index: 2;
      left: -50px;
      top: 0px;
      font-weight: 400;
      font-size: 240px;
      line-height: 304px;
      font-family: 'Ivy Mode';
      color: $white;
      opacity: 0.05;
      @include r(767) {
        font-size: 144px;
        line-height: 182px;
        bottom: 140px;
        z-index: 10;
        top: auto;
        opacity: 0.5;
      }
    }
  }
  &__img {
    width: 67%;
    height: 739px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include r(1500) {
      width: 59%;
      height: 532px;
    }
    @include r(900) {
      width: 100%;
    }
    @include r(767) {
      height: 296px;
    }
  }
  &__info {
    width: 33%;
    background-color: $blue-dark;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $white;
    position: relative;
    z-index: 1;
    @include r(1500) {
      width: 41%;
    }
    @include r(900) {
      width: 100%;
    }
  }

  &__content {
    padding-left: 56px;
    width: 100%;
    .subtitle_medium {
        margin-bottom: 30px;
    }
    .h2-title {
      margin-bottom: 15px;
      white-space: nowrap;
    }
    @include r(900) {
      padding: 24px 16px;
    }
  }
}

.next-project {
  position: absolute;
  bottom: 60px;
  right: 108px;
  display: flex;
  flex-wrap: wrap;
  width: 332px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 12px rgba(34, 34, 34, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  &__img {
    width: 111px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    width: calc(100% - 111px);
    padding: 30px 16px;
  }
  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 6px;
  }
  &__name {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
  @include r(1500) {
    right: 20px;
    bottom: 20px;
    width: 254px;
    &__info {
      padding: 16px 0 16px 12px;
      width: calc(100% - 85px);
    }
    &__img {
      width: 85px;
    }
  }
  @include r(767) {
    bottom: 0;
    left: 16px;
    right: 16px;
    width: auto;
    transform: translateY(50%);
    min-height: 112px;
    &__img {
      width: 110px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(100% - 110px);
    }
  }
}


